.bg-header-gradient5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1366px;
  height: 800px;
  object-fit: cover;
}
.bg-header-white5,
.header-child1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1366px;
  height: 657px;
}
.bg-header-white5 {
  top: 637px;
  height: 240px;
}
.buy-box-child13,
.buy-box-child14 {
  position: absolute;
  top: 46.4px;
  left: 0;
  border-radius: var(--br-3xs);
  width: 197px;
  height: 226px;
}
.buy-box-child14 {
  top: 28.4px;
  left: 7px;
  border-radius: var(--br-3xs) var(--br-3xs) var(--br-101xl) var(--br-101xl);
  background: linear-gradient(
    170.97deg,
    #fbac13,
    #fbac13 6.25%,
    #fe6d08 51.04%,
    #fe6d08
  );
  box-shadow: 5px 12px 15px rgba(0, 0, 0, 0.25);
  width: 183px;
  height: 107px;
}
.cover-icon7 {
  position: absolute;
  top: 0;
  left: 30.9px;
  border-radius: var(--br-base);
  width: 136.1px;
  height: 196px;
  object-fit: cover;
}
.div95 {
  position: absolute;
  top: 214.4px;
  left: 60px;
  line-height: 60%;
}
.wrapper-rectangle-60-child33 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 5px;
  top: 8px;
  transform: scale(1.75);
}
.wrapper-rectangle-6035 {
  position: absolute;
  top: 0;
  left: 0.8px;
  border-radius: var(--br-3xs);
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buy-on-amazon21 {
  position: absolute;
  top: 10px;
  left: 0;
  line-height: 150%;
  text-transform: uppercase;
  display: inline-block;
  width: 140.4px;
  height: 20px;
}
.btn58 {
  position: absolute;
  top: 251.8px;
  left: 28.2px;
  width: 140.8px;
  height: 40px;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.buy-box8,
.podium-icon5 {
  position: absolute;
  top: 235.6px;
  left: 963px;
  width: 197px;
  height: 291.8px;
}
.podium-icon5 {
  top: 336px;
  left: 0;
  width: 525px;
  height: 161px;
  object-fit: cover;
}
.podium-inner {
  position: absolute;
  top: 39px;
  left: 139px;
  background-color: var(--color-gainsboro-600);
  width: 266px;
  height: 371px;
}
.back-cover-magazine-24,
.stars-3-icon1 {
  position: absolute;
  top: 60px;
  left: 158px;
  width: 228px;
  height: 329px;
  object-fit: cover;
}
.stars-3-icon1 {
  top: 0;
  left: 96px;
  width: 90px;
  height: 86px;
}
.podium4 {
  position: absolute;
  top: 197px;
  left: 480px;
  width: 525px;
  height: 497px;
}
.crosward,
.wonders {
  margin: 0;
}
.crosward-wonders2 {
  position: absolute;
  top: 48px;
  left: calc(50% - 191.5px);
  font-size: var(--font-size-81xl);
  line-height: 60px;
  font-family: var(--font-jomhuria);
}
.puzzle-book {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-2xs);
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 500;
}
.blank-line4,
.this-captivating-coloring1,
.with-92-pages1 {
  margin: 0;
}
.this-captivating-coloring-container1 {
  position: absolute;
  top: 175px;
  left: calc(50% - 191.5px);
  line-height: 150%;
  color: var(--color-gray-400);
  display: inline-block;
  width: 383px;
}
.wrapper-rectangle-60-child34 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 4px;
  top: 8px;
  transform: scale(1.75);
}
.wrapper-rectangle-6036 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 183.4px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buy-on-amazon22 {
  position: absolute;
  top: 10px;
  left: 21px;
  line-height: 150%;
  text-transform: uppercase;
  display: inline-block;
  width: 140.4px;
  height: 20px;
}
.btn59 {
  position: absolute;
  top: 320px;
  left: 0;
  width: 183.4px;
  height: 40px;
  text-align: center;
  color: var(--color-palevioletred);
}
.title-header5 {
  position: absolute;
  top: 207px;
  left: calc(50% - 489px);
  width: 383px;
  height: 360px;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.header5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1366px;
  height: 877px;
  font-size: var(--font-size-4xl);
  color: var(--color-crimson-100);
  font-family: var(--font-days-one);
}
.wrapper-rectangle-47-child4 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 5px;
  top: 12px;
  transform: scale(1.33);
}
.wrapper-rectangle-476 {
  position: absolute;
  top: 5px;
  left: 0;
  border-radius: var(--br-lg);
  width: 1028px;
  height: 91px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-rectangle-62-child52 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 4px;
  top: 8px;
  transform: scale(1.5);
}
.wrapper-rectangle-6254 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  width: 111px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.amazon6 {
  position: absolute;
  top: 8px;
  left: 18px;
  line-height: 150%;
  text-transform: uppercase;
}
.btn-amazon-child3,
.btn-amazon5 {
  position: absolute;
  top: 15px;
  left: 91px;
  width: 4px;
  height: 8px;
}
.btn-amazon5 {
  top: 28px;
  left: 893px;
  width: 111px;
  height: 40px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.about6,
.contact6 {
  position: absolute;
  top: 35px;
  left: 790px;
  line-height: 150%;
}
.about6 {
  left: 634px;
}
.sep-icon7 {
  position: absolute;
  top: 5px;
  left: 520px;
  width: 351px;
  height: 89px;
}
.home7 {
  position: absolute;
  top: 35px;
  left: 552px;
  line-height: 150%;
}
.young-advertising12 {
  position: absolute;
  top: 22px;
  left: calc(50% - 489px);
  font-size: var(--font-size-24xl);
  line-height: 120%;
  text-transform: uppercase;
  font-family: var(--font-jomhuria);
  color: var(--color-white);
  text-align: left;
}
.hover-home-icon5 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 2px;
  top: 13px;
  transform: scale(1.263);
}
.wrapper-hover-home5 {
  position: absolute;
  top: 0;
  left: 700px;
  width: 73px;
  height: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu5,
.shop6 {
  position: absolute;
}
.shop6 {
  top: 35px;
  left: 717px;
  line-height: 150%;
  color: var(--color-crimson-200);
}
.menu5 {
  top: 38px;
  left: 169px;
  width: 1028px;
  height: 99px;
  color: var(--color-khaki-100);
}
.bg-princesses-icon6,
.bg-princesses-icon7 {
  position: absolute;
  top: 126px;
  left: 0;
  border-radius: var(--br-mini);
  width: 1028px;
  height: 188px;
}
.bg-princesses-icon7 {
  top: 128px;
  border-radius: var(--br-3xs);
  width: 596px;
  height: 186px;
}
.wrapper-rectangle-60-child35 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 5px;
  top: 8px;
  transform: scale(1.75);
}
.wrapper-rectangle-6037 {
  position: absolute;
  top: 0;
  left: 0.8px;
  border-radius: var(--br-3xs);
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buy-on-amazon23 {
  position: absolute;
  top: 10px;
  left: 0;
  line-height: 150%;
  text-transform: uppercase;
  display: inline-block;
  width: 140.4px;
  height: 20px;
}
.btn60 {
  position: absolute;
  top: 241.5px;
  left: 591px;
  width: 140.8px;
  height: 40px;
}
.coloring-book49,
.get-your-hands {
  position: absolute;
  line-height: 150%;
}
.coloring-book49 {
  top: 0;
  left: 332px;
  font-weight: 500;
}
.get-your-hands {
  top: 159.5px;
  left: calc(50% + 106px);
  font-size: var(--font-size-smi);
  color: var(--color-black);
  display: inline-block;
  width: 310px;
}
.podium-icon6 {
  position: absolute;
  top: 225.9px;
  left: 0;
  width: 353px;
  height: 108.3px;
  object-fit: cover;
}
.podium-child1 {
  position: absolute;
  top: 26.2px;
  left: 92.6px;
  background-color: var(--color-gainsboro-600);
  width: 178.9px;
  height: 249.5px;
}
.back-cover-magazine-25,
.stars-3-icon2 {
  position: absolute;
  top: 40.3px;
  left: 105.4px;
  width: 153.3px;
  height: 221.2px;
  object-fit: cover;
}
.stars-3-icon2 {
  top: 0;
  left: 63.7px;
  width: 60.5px;
  height: 57.8px;
}
.arrow-white-1,
.podium5 {
  position: absolute;
  top: 50px;
  left: 71px;
  width: 353px;
  height: 334.2px;
}
.arrow-white-1 {
  top: 182px;
  left: 0;
  width: 93px;
  height: 75px;
  object-fit: contain;
}
.banner1,
.content-box4 {
  position: absolute;
  height: 384.2px;
}
.content-box4 {
  top: 0;
  left: 69px;
  width: 832px;
  text-align: left;
  font-size: var(--font-size-2xs);
}
.banner1 {
  top: 2289px;
  left: 169px;
  width: 1028px;
  font-size: var(--font-size-xs);
}
.bg-coloring5 {
  position: absolute;
  top: 215px;
  left: 0;
  border-radius: var(--br-11xl) var(--br-11xl) var(--br-121xl) var(--br-121xl);
  background: linear-gradient(261.04deg, #fa8648, #df364c);
  width: 1027px;
  height: 377px;
}
.coloring-books-child14,
.coloring-books-child15,
.coloring-books-child16,
.coloring-books-child17 {
  position: absolute;
  top: 724px;
  left: 67px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-600);
  width: 143px;
  height: 10px;
}
.coloring-books-child15,
.coloring-books-child16,
.coloring-books-child17 {
  left: 317px;
}
.coloring-books-child16,
.coloring-books-child17 {
  left: 567px;
}
.coloring-books-child17 {
  left: 817px;
}
.wrapper-rectangle-62-child53 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 2px;
  top: 6px;
  transform: scale(1.081);
}
.wrapper-rectangle-6255 {
  position: absolute;
  top: 53px;
  left: 0;
  border-radius: var(--br-xs);
  width: 197px;
  height: 289px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.book-1-carousel-child6 {
  position: absolute;
  top: 27px;
  left: 16px;
  border-radius: var(--br-3xs) var(--br-3xs) var(--br-101xl) var(--br-101xl);
  background: linear-gradient(
    170.97deg,
    #fbac13,
    #fbac13 6.25%,
    #fe6d08 51.04%,
    #fe6d08
  );
  box-shadow: 5px 12px 15px rgba(0, 0, 0, 0.25);
  width: 165px;
  height: 143px;
}
.mask-group-icon24 {
  position: absolute;
  top: 0;
  left: 29px;
  width: 138px;
  height: 196px;
  object-fit: cover;
}
.city-parol9,
.coloring-book50,
.div96 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 60%;
}
.coloring-book50,
.div96 {
  top: 20px;
  font-size: var(--font-size-smi);
  line-height: 120%;
  color: var(--color-darkgray-700);
}
.div96 {
  top: 73px;
  left: 11px;
  font-size: var(--font-size-4xl);
  line-height: 60%;
  color: var(--color-crimson-100);
}
.btn-child43,
.details32 {
  position: absolute;
  top: 214px;
  left: 49px;
  width: 99px;
  height: 87px;
}
.btn-child43 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 111px;
  height: 34px;
  object-fit: contain;
}
.view-details45 {
  position: absolute;
  top: 9px;
  left: 16px;
  line-height: 150%;
  text-transform: uppercase;
}
.btn-amazon-black-child34 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 40px;
  height: 34px;
}
.logo-1-icon43 {
  position: absolute;
  top: 7px;
  left: 11px;
  width: 18px;
  height: 18px;
  object-fit: cover;
}
.btn-amazon-black36 {
  position: absolute;
  top: 0;
  left: 116px;
  width: 40px;
  height: 34px;
}
.book-1-carousel8,
.btn61 {
  position: absolute;
  top: 320px;
}
.btn61 {
  left: 18px;
  width: 156px;
  height: 34px;
  font-size: var(--font-size-2xs);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.book-1-carousel8 {
  left: 40px;
  width: 197px;
  height: 354px;
}
.wrapper-rectangle-62-child54 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 2px;
  top: 6px;
  transform: scale(1.081);
}
.book-2-carousel-child20,
.wrapper-rectangle-6256 {
  position: absolute;
  left: 0;
  border-radius: var(--br-xs);
  width: 197px;
}
.wrapper-rectangle-6256 {
  top: 53px;
  height: 289px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.book-2-carousel-child20 {
  top: 22px;
  height: 89.6px;
  display: none;
}
.book-2-carousel-child21 {
  position: absolute;
  top: 23.8px;
  left: 0;
  border-radius: 50%;
  background: linear-gradient(170.97deg, #ff992a, #fe6d08);
  width: 197px;
  height: 132.6px;
  display: none;
}
.book-2-carousel-child22 {
  position: absolute;
  top: 27px;
  left: 16px;
  border-radius: var(--br-3xs) var(--br-3xs) var(--br-101xl) var(--br-101xl);
  background: linear-gradient(
    170.97deg,
    #fbac13,
    #fbac13 6.25%,
    #fe6d08 51.04%,
    #fe6d08
  );
  box-shadow: 5px 12px 15px rgba(0, 0, 0, 0.25);
  width: 165px;
  height: 143px;
}
.front-right-235 {
  position: absolute;
  top: 0;
  left: 30.9px;
  border-radius: var(--br-base);
  width: 136.1px;
  height: 196px;
  object-fit: cover;
}
.play-with-colors10 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 60%;
}
.coloring-book51,
.div97 {
  position: absolute;
  top: 20px;
  left: 31px;
  font-size: var(--font-size-smi);
  line-height: 120%;
  color: var(--color-darkgray-700);
}
.div97 {
  top: 73px;
  left: 42px;
  font-size: var(--font-size-4xl);
  line-height: 60%;
  color: var(--color-crimson-100);
}
.btn-child44,
.details33 {
  position: absolute;
  top: 214px;
  left: 18px;
  width: 160px;
  height: 87px;
}
.btn-child44 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 111px;
  height: 34px;
  object-fit: contain;
}
.view-details46 {
  position: absolute;
  top: 9px;
  left: 16px;
  line-height: 150%;
  text-transform: uppercase;
}
.btn-amazon-black-child35 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 40px;
  height: 34px;
}
.logo-1-icon44 {
  position: absolute;
  top: 7px;
  left: 11px;
  width: 18px;
  height: 18px;
  object-fit: cover;
}
.btn-amazon-black37 {
  position: absolute;
  top: 0;
  left: 116px;
  width: 40px;
  height: 34px;
}
.book-2-carousel8,
.btn62 {
  position: absolute;
  top: 320px;
}
.btn62 {
  left: 20px;
  width: 156px;
  height: 34px;
  font-size: var(--font-size-2xs);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.book-2-carousel8 {
  left: 290px;
  width: 197px;
  height: 354px;
}
.wrapper-rectangle-62-child55 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 2px;
  top: 6px;
  transform: scale(1.081);
}
.book-3-carousel-child20,
.wrapper-rectangle-6257 {
  position: absolute;
  left: 0;
  border-radius: var(--br-xs);
  width: 197px;
}
.wrapper-rectangle-6257 {
  top: 53px;
  height: 289px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.book-3-carousel-child20 {
  top: 22px;
  height: 89.6px;
  display: none;
}
.book-3-carousel-child21 {
  position: absolute;
  top: 23.8px;
  left: 0;
  border-radius: 50%;
  background: linear-gradient(170.97deg, #ff992a, #fe6d08);
  width: 197px;
  height: 132.6px;
  display: none;
}
.book-3-carousel-child22 {
  position: absolute;
  top: 27px;
  left: 16px;
  border-radius: var(--br-3xs) var(--br-3xs) var(--br-101xl) var(--br-101xl);
  background: linear-gradient(
    170.97deg,
    #fbac13,
    #fbac13 6.25%,
    #fe6d08 51.04%,
    #fe6d08
  );
  box-shadow: 5px 12px 15px rgba(0, 0, 0, 0.25);
  width: 165px;
  height: 143px;
}
.front-right-236 {
  position: absolute;
  top: 0;
  left: 30.9px;
  border-radius: var(--br-base);
  width: 136.1px;
  height: 196px;
  object-fit: cover;
}
.save-and-love12 {
  margin: 0;
  line-height: 60%;
}
.the-planet11 {
  margin: 0;
  line-height: 120%;
}
.save-and-love-container12 {
  position: absolute;
  top: 0;
  left: 0;
}
.coloring-book52,
.div98 {
  position: absolute;
  top: 42px;
  left: 23px;
  font-size: var(--font-size-smi);
  line-height: 120%;
  color: var(--color-darkgray-700);
}
.div98 {
  top: 73px;
  left: 34px;
  font-size: var(--font-size-4xl);
  line-height: 60%;
  color: var(--color-crimson-100);
}
.btn-child45,
.details34 {
  position: absolute;
  top: 214px;
  left: 27px;
  width: 145px;
  height: 87px;
}
.btn-child45 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 111px;
  height: 34px;
  object-fit: contain;
}
.view-details47 {
  position: absolute;
  top: 9px;
  left: 16px;
  line-height: 150%;
  text-transform: uppercase;
}
.btn-amazon-black-child36 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 40px;
  height: 34px;
}
.logo-1-icon45 {
  position: absolute;
  top: 7px;
  left: 11px;
  width: 18px;
  height: 18px;
  object-fit: cover;
}
.btn-amazon-black38 {
  position: absolute;
  top: 0;
  left: 116px;
  width: 40px;
  height: 34px;
}
.book-3-carousel8,
.btn63 {
  position: absolute;
  top: 320px;
}
.btn63 {
  left: 21px;
  width: 156px;
  height: 34px;
  font-size: var(--font-size-2xs);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.book-3-carousel8 {
  left: 540px;
  width: 197px;
  height: 354px;
}
.wrapper-rectangle-62-child56 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 2px;
  top: 6px;
  transform: scale(1.081);
}
.book-4-carousel-child20,
.wrapper-rectangle-6258 {
  position: absolute;
  left: 0;
  border-radius: var(--br-xs);
  width: 197px;
}
.wrapper-rectangle-6258 {
  top: 53px;
  height: 289px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.book-4-carousel-child20 {
  top: 22px;
  height: 89.6px;
  display: none;
}
.book-4-carousel-child21 {
  position: absolute;
  top: 23.8px;
  left: 0;
  border-radius: 50%;
  background: linear-gradient(170.97deg, #ff992a, #fe6d08);
  width: 197px;
  height: 132.6px;
  display: none;
}
.book-4-carousel-child22 {
  position: absolute;
  top: 27px;
  left: 16px;
  border-radius: var(--br-3xs) var(--br-3xs) var(--br-101xl) var(--br-101xl);
  background: linear-gradient(
    170.97deg,
    #fbac13,
    #fbac13 6.25%,
    #fe6d08 51.04%,
    #fe6d08
  );
  box-shadow: 5px 12px 15px rgba(0, 0, 0, 0.25);
  width: 165px;
  height: 143px;
}
.front-right-237 {
  position: absolute;
  top: 0;
  left: 30.9px;
  border-radius: var(--br-base);
  width: 136.1px;
  height: 196px;
  object-fit: cover;
}
.princesses12 {
  margin: 0;
  line-height: 60%;
}
.and-unicorns11 {
  margin: 0;
  line-height: 120%;
}
.princesses-and-unicorns-container14 {
  position: absolute;
  top: 0;
  left: 0;
}
.coloring-book53,
.div99 {
  position: absolute;
  top: 42px;
  left: 16px;
  font-size: var(--font-size-smi);
  line-height: 120%;
  color: var(--color-darkgray-700);
}
.div99 {
  top: 73px;
  left: 27px;
  font-size: var(--font-size-4xl);
  line-height: 60%;
  color: var(--color-crimson-100);
}
.btn-child46,
.details35 {
  position: absolute;
  top: 214px;
  left: 34px;
  width: 130px;
  height: 87px;
}
.btn-child46 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 111px;
  height: 34px;
  object-fit: contain;
}
.view-details48 {
  position: absolute;
  top: 9px;
  left: 16px;
  line-height: 150%;
  text-transform: uppercase;
}
.btn-amazon-black-child37 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 40px;
  height: 34px;
}
.logo-1-icon46 {
  position: absolute;
  top: 7px;
  left: 11px;
  width: 18px;
  height: 18px;
  object-fit: cover;
}
.btn-amazon-black39 {
  position: absolute;
  top: 0;
  left: 116px;
  width: 40px;
  height: 34px;
}
.book-4-carousel8,
.btn64 {
  position: absolute;
  top: 320px;
}
.btn64 {
  left: 21px;
  width: 156px;
  height: 34px;
  font-size: var(--font-size-2xs);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.book-4-carousel8 {
  left: 790px;
  width: 197px;
  height: 354px;
}
.mask-group-icon25,
.title-child3 {
  position: absolute;
  left: calc(50% - 361px);
}
.title-child3 {
  top: 155px;
  border-radius: var(--br-xs);
  width: 615px;
  height: 107px;
}
.mask-group-icon25 {
  top: 0;
  width: 722px;
  height: 262px;
  object-fit: cover;
}
.you-make-like4 {
  position: absolute;
  top: 182px;
  left: calc(50% - 329px);
  line-height: 120%;
}
.recommended-books-based5 {
  position: absolute;
  top: 212px;
  left: 32px;
  font-size: var(--font-size-sm);
  line-height: 150%;
}
.arici-icon6,
.ren-icon7 {
  position: absolute;
  top: 131px;
  left: 579px;
  width: 122px;
  height: 166px;
  object-fit: cover;
}
.arici-icon6 {
  top: 171px;
  left: 344px;
  width: 110px;
  height: 109px;
}
.title10 {
  position: absolute;
  top: 0;
  left: calc(50% - 307.5px);
  width: 722px;
  height: 297px;
  text-align: left;
  font-size: var(--font-size-6xl);
  font-family: var(--font-inter);
}
.coloring-books5,
.title-icon4 {
  position: absolute;
  top: 208px;
  left: 27px;
  width: 589px;
  height: 255px;
}
.coloring-books5 {
  top: 2632px;
  left: 170px;
  width: 1027px;
  height: 734px;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-days-one);
}
.footer-child23 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  width: 1366px;
  height: 403px;
}
.young-advertising13 {
  position: absolute;
  top: 73px;
  left: calc(50% - 512px);
  font-size: var(--font-size-6xl);
  line-height: 120%;
}
.we-use-only6,
.young-advertising-all6 {
  position: absolute;
  left: 171px;
  line-height: 150%;
}
.we-use-only6 {
  top: 114px;
  display: inline-block;
  width: 254px;
}
.young-advertising-all6 {
  top: 345px;
}
.aabout-us6,
.contactontact6,
.view-all-books6 {
  margin-bottom: 0;
}
.view-all-books-aabout-us-conta6 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-mid);
}
.view-all-books-container6 {
  position: absolute;
  top: 114px;
  left: 619px;
  line-height: 250%;
}
.social-media-icons6 {
  position: absolute;
  top: 206px;
  left: 171px;
  line-height: 150%;
}
.footer-child24,
.footer-child25,
.footer-child26 {
  position: absolute;
  top: 237px;
  left: 171px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro-600);
  width: 45px;
  height: 42px;
}
.footer-child25,
.footer-child26 {
  left: 235px;
}
.footer-child26 {
  left: 299px;
}
.footer-child27 {
  position: absolute;
  top: 333.5px;
  left: 173.5px;
  border-top: 1px solid var(--color-silver-300);
  box-sizing: border-box;
  width: 1032px;
  height: 1px;
}
.footer5 {
  position: absolute;
  top: 3479px;
  left: 0;
  width: 1366px;
  height: 403px;
  text-align: left;
  font-size: var(--font-size-smi);
}
.hey-there-are,
.if-so-i {
  margin: 0;
}
.hey-there-are-container {
  position: absolute;
  top: 94px;
  left: 0;
  line-height: 150%;
  display: inline-block;
  width: 767px;
}
.crosward-wonders3 {
  margin: 0;
}
.book {
  color: var(--color-black);
}
.puzzles-book {
  margin: 0;
  color: var(--color-chocolate-100);
}
.crosward-wonders-puzzles-container {
  position: absolute;
  top: 0;
  left: calc(50% - 161.5px);
  font-size: var(--font-size-51xl);
  line-height: 60%;
  font-family: var(--font-jomhuria);
}
.title11 {
  position: absolute;
  top: 757px;
  left: 300px;
  width: 767px;
  height: 209px;
  color: var(--color-black);
}
.cross-icon,
.cross-icon1,
.cross-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 311px;
  height: 395px;
  object-fit: cover;
}
.cross-icon1,
.cross-icon2 {
  left: 359px;
}
.cross-icon2 {
  left: 717px;
}
.cross-icon3,
.cross-icon4,
.cross-icon5,
.cross-icon6,
.cross-icon7,
.cross-icon8 {
  position: absolute;
  top: 435px;
  left: 0;
  width: 311px;
  height: 395px;
  object-fit: cover;
}
.cross-icon4,
.cross-icon5,
.cross-icon6,
.cross-icon7,
.cross-icon8 {
  left: 359px;
}
.cross-icon5,
.cross-icon6,
.cross-icon7,
.cross-icon8 {
  left: 717px;
}
.cross-icon6,
.cross-icon7,
.cross-icon8 {
  top: 870px;
  left: 0;
}
.cross-icon7,
.cross-icon8 {
  left: 359px;
}
.cross-icon8 {
  left: 717px;
}
.cross-parent {
  position: absolute;
  top: 1024px;
  left: 169px;
  width: 1028px;
  height: 1265px;
}
.crosward-wonders1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 3882px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-inter);
}
