body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-days-one: "Days One";
  --font-jomhuria: Jomhuria;
  --font-jolly-lodger: "Jolly Lodger";

  /* font sizes */
  --font-size-smi: 13px;
  --font-size-6xl: 25px;
  --font-size-xl: 20px;
  --font-size-2xs: 11px;
  --font-size-4xl: 23px;
  --font-size-lg: 18px;
  --font-size-mini: 15px;
  --font-size-base: 16px;
  --font-size-13xl: 32px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --font-size-26xl: 45px;
  --font-size-8xl: 27px;
  --font-size-17xl: 36px;
  --font-size-xs: 12px;
  --font-size-151xl: 170px;
  --font-size-23xl: 42px;
  --font-size-49xl: 68px;
  --font-size-91xl: 110px;
  --font-size-14xl: 33px;
  --font-size-36xl: 55px;
  --font-size-31xl: 50px;
  --font-size-11xl: 30px;
  --font-size-21xl: 40px;
  --font-size-mid: 17px;
  --font-size-51xl: 70px;
  --font-size-37xl: 56px;
  --font-size-161xl: 180px;
  --font-size-53xl: 72px;
  --font-size-101xl: 120px;
  --font-size-29xl: 48px;
  --font-size-25xl: 44px;
  --font-size-5xl: 24px;
  --font-size-81xl: 100px;
  --font-size-sm: 14px;
  --font-size-24xl: 43px;
  --font-size-15xl: 34px;
  --font-size-3xs: 10px;
  --font-size-5xs: 8px;
  --font-size-6xs: 7px;
  --font-size-16xl: 35px;

  /* Colors */
  --color-white: #fff;
  --color-silver-100: #c9c9c9;
  --color-silver-200: #c1c1c1;
  --color-silver-300: #b6b6b6;
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: #e4e4e4;
  --color-gainsboro-300: #e1e1e1;
  --color-gainsboro-400: #dedede;
  --color-gainsboro-500: #dbdbdb;
  --color-gainsboro-600: #d9d9d9;
  --color-gainsboro-700: #d8d8d8;
  --color-crimson-300: #ec303f;
  --color-crimson-100: #f22d34;
  --color-crimson-200: #ea2e3d;
  --color-darkgray-100: #c6aaaa;
  --color-darkgray-200: #a8a8a8;
  --color-darkgray-300: #a4a4a4;
  --color-darkgray-400: #a1a1a1;
  --color-darkgray-500: #9c9c9c;
  --color-darkgray-600: #9a9a9a;
  --color-darkgray-700: #989898;
  --color-black: #000;
  --color-navy: #0d1290;
  --color-orangered: #ff4e00;
  --color-gold: #ffcb00;
  --color-darkorange-100: #ffa03e;
  --color-darkorange-200: #ff891e;
  --color-tomato-100: #ff443f;
  --color-darkslateblue-100: #394398;
  --color-gray-400: #fffefe;
  --color-gray-100: #8d8d8d;
  --color-gray-200: #818181;
  --color-gray-300: #777;
  --color-khaki-100: #f8f7a5;
  --color-khaki-200: #fef299;
  --color-palevioletred: #c13566;
  --color-whitesmoke-100: #f2f2f2;
  --color-whitesmoke-200: #ebebeb;
  --color-cadetblue: #17a7bb;
  --color-beige: #f4eed7;
  --color-darkkhaki: #bbc269;
  --color-darkslategray-100: #474747;
  --color-darkslategray-200: #434343;
  --color-skyblue: #5dadc7;
  --color-indianred: #c26969;
  --color-limegreen: #19b846;
  --color-chocolate-100: #e86a15;

  /* Gaps */
  --gap-137xl: 156px;
  --gap-20xl: 39px;
  --gap-59xl: 78px;
  --gap-36xl: 55px;
  --gap-8xl: 27px;
  --gap-3xs: 10px;
  --gap-2xs: 11px;
  --gap-xl: 20px;
  --gap-base: 16px;
  --gap-lgi: 19px;
  --gap-53xl: 72px;
  --gap-lg: 18px;
  --gap-17xl: 36px;
  --gap-34xl: 53px;
  --gap-7xl: 26px;
  --gap-9xl: 28px;
  --gap-mini: 15px;
  --gap-10xs: 3px;
  --gap-4xs: 9px;
  --gap-39xl: 58px;
  --gap-10xl: 29px;
  --gap-496xl-4: 515.4px;
  --gap-45xl: 64px;
  --gap-110xl: 129px;
  --gap-239xl: 258px;
  --gap-11xs: 2px;
  --gap-2xs-3: 10.3px;
  --gap-8xl-7: 27.7px;
  --gap-xl-7: 20.7px;
  --gap-8xl-6: 27.6px;
  --gap-lgi-3: 19.3px;
  --gap-5xs: 8px;
  --gap-60xl: 79px;
  --gap-31xl: 50px;
  --gap-6xl: 25px;
  --gap-8xs-7: 4.7px;
  --gap-44xl: 63px;
  --gap-12xl: 31px;
  --gap-9xs-7: 3.7px;
  --gap-xs: 12px;
  --gap-67xl: 86px;
  --gap-2xl: 21px;
  --gap-24xl: 43px;
  --gap-80xl: 99px;
  --gap-30xl: 49px;
  --gap-14xl: 33px;
  --gap-smi: 13px;
  --gap-56xl: 75px;
  --gap-18xl: 37px;
  --gap-46xl: 65px;
  --gap-13xl: 32px;
  --gap-6xs: 7px;
  --gap-23xl: 42px;
  --gap-43xl: 62px;
  --gap-4xs-5: 8.5px;
  --gap-71xl: 90px;
  --gap-3xl: 22px;
  --gap-26xl: 45px;
  --gap-36xl-8: 55.8px;

  /* Paddings */
  --padding-19xl: 38px;
  --padding-9xl: 28px;
  --padding-xl: 20px;
  --padding-10xs: 3px;
  --padding-mid: 17px;
  --padding-8xl: 27px;
  --padding-142xl: 161px;
  --padding-7xl: 26px;
  --padding-5xs: 8px;
  --padding-6xl: 25px;
  --padding-2xs: 11px;
  --padding-16xl: 35px;
  --padding-15xl: 34px;
  --padding-5xl: 24px;
  --padding-3xl: 22px;
  --padding-lg: 18px;
  --padding-24xl: 43px;
  --padding-23xl: 42px;
  --padding-4xs: 9px;
  --padding-11xl: 30px;
  --padding-12xl: 31px;
  --padding-13xl: 32px;
  --padding-10xl: 29px;
  --padding-20xl: 39px;
  --padding-22xl: 41px;
  --padding-11xs: 2px;
  --padding-286xl: 305px;
  --padding-179xl: 198px;
  --padding-17xl: 36px;
  --padding-base-3: 16.3px;
  --padding-10xs-8: 2.8px;
  --padding-mid-3: 17.3px;
  --padding-lgi: 19px;
  --padding-base-4: 16.4px;
  --padding-42xl: 61px;
  --padding-6xs: 7px;
  --padding-sm: 14px;
  --padding-sm-9: 13.9px;
  --padding-22xl-6: 41.6px;
  --padding-8xs-2: 4.2px;
  --padding-mini-1: 14.1px;
  --padding-25xl: 44px;
  --padding-20xl-6: 39.6px;
  --padding-4xl: 23px;
  --padding-2xl: 21px;
  --padding-68xl: 87px;
  --padding-46xl: 65px;
  --padding-77xl-6: 96.6px;
  --padding-38xl: 57px;
  --padding-44xl: 63px;
  --padding-3xs: 10px;
  --padding-xl-4: 20.4px;
  --padding-22xl-3: 41.3px;
  --padding-14xl: 33px;
  --padding-59xl: 78px;
  --padding-lg-4: 18.4px;
  --padding-32xl-3: 51.3px;
  --padding-134xl-7: 153.7px;
  --padding-12xs: 1px;
  --padding-146xl: 165px;
  --padding-27xl: 46px;
  --padding-51xl: 70px;
  --padding-88xl: 107px;
  --padding-158xl: 177px;
  --padding-48xl: 67px;
  --padding-31xl: 50px;
  --padding-49xl: 68px;
  --padding-50xl: 69px;
  --padding-30xl: 49px;
  --padding-156xl: 175px;
  --padding-33xl: 52px;
  --padding-54xl: 73px;
  --padding-53xl: 72px;
  --padding-26xl: 45px;
  --padding-smi: 13px;
  --padding-63xl: 82px;
  --padding-34xl: 53px;
  --padding-56xl: 75px;
  --padding-113xl: 132px;
  --padding-37xl: 56px;
  --padding-47xl: 66px;
  --padding-mini: 15px;
  --padding-51xl-6: 70.6px;
  --padding-base-2: 16.2px;
  --padding-167xl-2: 186.2px;
  --padding-47xl-1: 66.1px;
  --padding-13xl-8: 32.8px;
  --padding-46xl-9: 65.9px;
  --padding-5xl-9: 24.9px;
  --padding-4xs-9: 8.9px;
  --padding-lgi-4: 19.4px;
  --padding-35xl: 54px;
  --padding-166xl-2: 185.2px;
  --padding-57xl: 76px;
  --padding-base: 16px;
  --padding-504xl: 523px;
  --padding-79xl-6: 98.6px;
  --padding-111xl: 130px;
  --padding-45xl: 64px;
  --padding-242xl: 261px;
  --padding-182xl: 201px;
  --padding-64xl: 83px;
  --padding-18xl: 37px;
  --padding-67xl-6: 86.6px;
  --padding-5xs-4: 7.4px;
  --padding-148xl: 167px;
  --padding-90xl: 109px;
  --padding-4xs-6: 8.6px;
  --padding-11xs-9: 1.9px;
  --padding-21xl: 40px;
  --padding-95xl: 114px;

  /* Border radiuses */
  --br-8xs: 5px;
  --br-3xs: 10px;
  --br-xs: 12px;
  --br-11xl: 30px;
  --br-121xl: 140px;
  --br-base: 16px;
  --br-101xl: 120px;
  --br-mini: 15px;
  --br-4xs: 9px;
  --br-lg: 18px;
}
