body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-days-one: "Days One";
  --font-jomhuria: Jomhuria;
  --font-jolly-lodger: "Jolly Lodger";

  /* font sizes */
  --font-size-smi: 13px;
  --font-size-6xl: 25px;
  --font-size-xl: 20px;
  --font-size-2xs: 11px;
  --font-size-4xl: 23px;
  --font-size-lg: 18px;
  --font-size-mini: 15px;
  --font-size-base: 16px;
  --font-size-13xl: 32px;
  --font-size-7xl: 26px;
  --font-size-26xl: 45px;
  --font-size-8xl: 27px;
  --font-size-17xl: 36px;
  --font-size-xs: 12px;
  --font-size-23xl: 42px;
  --font-size-14xl: 33px;
  --font-size-36xl: 55px;
  --font-size-31xl: 50px;
  --font-size-11xl: 30px;
  --font-size-21xl: 40px;
  --font-size-mid: 17px;
  --font-size-51xl: 70px;
  --font-size-37xl: 56px;
  --font-size-29xl: 48px;
  --font-size-5xl: 24px;
  --font-size-81xl: 100px;
  --font-size-sm: 14px;
  --font-size-24xl: 43px;
  --font-size-3xs: 10px;
  --font-size-5xs: 8px;
  --font-size-6xs: 7px;
  --font-size-16xl: 35px;

  /* Colors */
  --color-white: #fff;
  --color-silver-100: #c9c9c9;
  --color-silver-200: #c1c1c1;
  --color-silver-300: #b6b6b6;
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: #e4e4e4;
  --color-gainsboro-300: #e1e1e1;
  --color-gainsboro-400: #dedede;
  --color-gainsboro-500: #dbdbdb;
  --color-gainsboro-600: #d9d9d9;
  --color-gainsboro-700: #d8d8d8;
  --color-crimson-100: #f22d34;
  --color-crimson-200: #ea2e3d;
  --color-darkgray-100: #c6aaaa;
  --color-darkgray-200: #a8a8a8;
  --color-darkgray-300: #a4a4a4;
  --color-darkgray-400: #a1a1a1;
  --color-darkgray-500: #9c9c9c;
  --color-darkgray-600: #9a9a9a;
  --color-darkgray-700: #989898;
  --color-black: #000;
  --color-navy: #0d1290;
  --color-orangered: #ff4e00;
  --color-gold: #ffcb00;
  --color-darkorange-100: #ffa03e;
  --color-darkorange-200: #ff891e;
  --color-tomato-100: #ff443f;
  --color-gray-400: #fffefe;
  --color-gray-100: #8d8d8d;
  --color-gray-200: #818181;
  --color-gray-300: #777;
  --color-khaki-100: #f8f7a5;
  --color-khaki-200: #fef299;
  --color-palevioletred: #c13566;
  --color-whitesmoke-100: #f2f2f2;
  --color-whitesmoke-200: #ebebeb;
  --color-cadetblue: #17a7bb;
  --color-beige: #f4eed7;
  --color-darkkhaki: #bbc269;
  --color-darkslategray-100: #474747;
  --color-darkslategray-200: #434343;
  --color-skyblue: #5dadc7;
  --color-indianred: #c26969;
  --color-limegreen: #19b846;
  --color-chocolate-100: #e86a15;

  /* Gaps */
  --gap-20xl: 39px;
  --gap-36xl: 55px;
  --gap-8xl: 27px;
  --gap-3xs: 10px;
  --gap-2xs: 11px;
  --gap-xl: 20px;
  --gap-base: 16px;
  --gap-lgi: 19px;
  --gap-lg: 18px;
  --gap-7xl: 26px;
  --gap-9xl: 28px;
  --gap-mini: 15px;
  --gap-10xs: 3px;
  --gap-4xs: 9px;
  --gap-xl-7: 20.7px;
  --gap-8xl-6: 27.6px;
  --gap-5xs: 8px;
  --gap-31xl: 50px;
  --gap-6xl: 25px;
  --gap-12xl: 31px;
  --gap-xs: 12px;
  --gap-2xl: 21px;
  --gap-14xl: 33px;
  --gap-smi: 13px;
  --gap-18xl: 37px;
  --gap-13xl: 32px;
  --gap-3xl: 22px;

  /* Paddings */
  --padding-19xl: 38px;
  --padding-9xl: 28px;
  --padding-xl: 20px;
  --padding-10xs: 3px;
  --padding-mid: 17px;
  --padding-8xl: 27px;
  --padding-142xl: 161px;
  --padding-7xl: 26px;
  --padding-5xs: 8px;
  --padding-2xs: 11px;
  --padding-16xl: 35px;
  --padding-15xl: 34px;
  --padding-5xl: 24px;
  --padding-3xl: 22px;
  --padding-lg: 18px;
  --padding-23xl: 42px;
  --padding-4xs: 9px;
  --padding-11xl: 30px;
  --padding-12xl: 31px;
  --padding-13xl: 32px;
  --padding-10xl: 29px;
  --padding-20xl: 39px;
  --padding-22xl: 41px;
  --padding-11xs: 2px;
  --padding-179xl: 198px;
  --padding-17xl: 36px;
  --padding-lgi: 19px;
  --padding-base-4: 16.4px;
  --padding-42xl: 61px;
  --padding-6xs: 7px;
  --padding-sm: 14px;
  --padding-25xl: 44px;
  --padding-4xl: 23px;
  --padding-2xl: 21px;
  --padding-38xl: 57px;
  --padding-3xs: 10px;
  --padding-14xl: 33px;
  --padding-12xs: 1px;
  --padding-27xl: 46px;
  --padding-158xl: 177px;
  --padding-31xl: 50px;
  --padding-30xl: 49px;
  --padding-156xl: 175px;
  --padding-33xl: 52px;
  --padding-54xl: 73px;
  --padding-26xl: 45px;
  --padding-56xl: 75px;
  --padding-47xl: 66px;
  --padding-mini: 15px;
  --padding-base-2: 16.2px;
  --padding-13xl-8: 32.8px;
  --padding-lgi-4: 19.4px;
  --padding-35xl: 54px;

  /* Border radiuses */
  --br-8xs: 5px;
  --br-3xs: 10px;
  --br-xs: 12px;
  --br-11xl: 30px;
  --br-121xl: 140px;
  --br-base: 16px;
  --br-101xl: 120px;
  --br-mini: 15px;
  --br-4xs: 9px;
  --br-lg: 18px;
}
