.rectangle-div4 {
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid #387bba;
  box-sizing: border-box;
  width: 100%;
  height: 250px;
}
