.group-child298,
.sidebar-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 280px;
  height: 2513px;
}
.group-child298 {
  border: 1px solid var(--color-gainsboro-600);
  width: 209.7px;
  height: 42.1px;
}
.size-pages3,
.x113 {
  position: absolute;
  top: 13.77px;
  left: 19.33px;
}
.x113 {
  left: 123.2px;
}
.group-child299,
.group-child300 {
  position: absolute;
  top: 16.83px;
  left: 183.65px;
  width: 14.5px;
  height: 8.4px;
}
.group-child300 {
  top: 0.77px;
  left: 108.66px;
  border-right: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  width: 1px;
  height: 42.3px;
}
.group-child301,
.rectangle-parent122 {
  position: absolute;
  top: 279px;
  left: 24px;
  width: 209.7px;
  height: 42.1px;
}
.group-child301 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  width: 237px;
  height: 43px;
}
.add-bleed3,
.yes11 {
  position: absolute;
  top: 14.25px;
  left: 19.33px;
}
.yes11 {
  left: 177.99px;
  display: inline-block;
  width: 21.4px;
  height: 14.5px;
}
.group-child302,
.group-child303 {
  position: absolute;
  top: 17.31px;
  left: 208.99px;
  width: 14.5px;
  height: 8.4px;
}
.group-child303 {
  top: 1.24px;
  left: 164px;
  border-right: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  width: 1px;
  height: 42.3px;
}
.group-child304,
.rectangle-parent123 {
  position: absolute;
  top: 401px;
  left: 24px;
  width: 237px;
  height: 43px;
}
.group-child304 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  width: 186.7px;
  height: 42.1px;
}
.div43,
.page-number3 {
  position: absolute;
  top: 13.77px;
  left: 19.33px;
}
.div43 {
  left: 140.03px;
  display: inline-block;
  width: 6.1px;
  height: 14.5px;
}
.group-child305,
.group-child306 {
  position: absolute;
  top: 16.83px;
  left: 160.69px;
  width: 14.5px;
  height: 8.4px;
}
.group-child306 {
  top: 0.77px;
  left: 125.49px;
  border-right: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  width: 1px;
  height: 42.3px;
}
.group-child307,
.rectangle-parent124 {
  position: absolute;
  top: 218px;
  left: 24px;
  width: 186.7px;
  height: 42.1px;
}
.group-child307 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  width: 183.7px;
}
.arial3,
.font-family3 {
  position: absolute;
  top: 13.59px;
  left: 19.33px;
}
.arial3 {
  left: 120.19px;
  display: inline-block;
  width: 25.8px;
  height: 14.6px;
}
.group-child308,
.group-child309 {
  position: absolute;
  top: 16.65px;
  left: 154.54px;
  width: 14.5px;
  height: 8.4px;
}
.group-child309 {
  top: 0.58px;
  left: 105.6px;
  border-right: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  width: 1px;
  height: 42.3px;
}
.group-child310,
.rectangle-parent125 {
  position: absolute;
  top: 839px;
  left: 24px;
  width: 183.7px;
  height: 42.1px;
}
.group-child310 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  width: 170px;
}
.div44,
.font-size3 {
  position: absolute;
  top: 13.77px;
  left: 19.33px;
}
.div44 {
  left: 116.76px;
  display: inline-block;
  width: 13.7px;
  height: 14.6px;
}
.group-child311,
.group-child312,
.group-child313 {
  position: absolute;
  top: 24.67px;
  left: 146px;
  width: 12px;
  height: 7px;
}
.group-child312,
.group-child313 {
  top: 8.67px;
}
.group-child313 {
  top: 0.77px;
  left: 97.01px;
  border-right: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  width: 1px;
  height: 42.3px;
}
.group-child314,
.rectangle-parent126 {
  position: absolute;
  top: 900px;
  left: 24px;
  width: 170px;
  height: 42.1px;
}
.group-child314 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  width: 221px;
  height: 42px;
}
.difficulty-topics1,
.easy1 {
  position: absolute;
  top: 13.77px;
  left: 19.33px;
}
.easy1 {
  top: 14px;
  left: 147px;
}
.group-child315,
.group-child316,
.group-child317 {
  position: absolute;
  top: 24.67px;
  left: 195px;
  width: 12px;
  height: 7px;
}
.group-child316,
.group-child317 {
  top: 8.67px;
}
.group-child317 {
  top: 0.77px;
  left: 127.01px;
  border-right: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  width: 1px;
  height: 42.3px;
}
.rectangle-parent127 {
  position: absolute;
  top: 778px;
  left: 24px;
  width: 221px;
  height: 42.1px;
}
.group-child318,
.group-child319 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  width: 137px;
  height: 42px;
}
.group-child319 {
  top: 5px;
  left: 90px;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-darkgray-600);
  width: 42px;
  height: 32px;
}
.font-color1 {
  position: absolute;
  top: 13.77px;
  left: 19.33px;
}
.group-child320,
.group-child321,
.rectangle-parent128 {
  position: absolute;
  top: 961px;
  left: 24px;
  width: 137px;
  height: 42px;
}
.group-child320,
.group-child321 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
}
.group-child321 {
  top: 5px;
  left: 90px;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-darkgray-600);
  width: 42px;
  height: 32px;
}
.cell-color1 {
  position: absolute;
  top: 13.77px;
  left: 19.33px;
}
.group-child322,
.group-child323,
.rectangle-parent129 {
  position: absolute;
  top: 1022px;
  left: 24px;
  width: 137px;
  height: 42px;
}
.group-child322,
.group-child323 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
}
.group-child323 {
  top: 5px;
  left: 90px;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-darkgray-600);
  width: 42px;
  height: 32px;
}
.line-color1 {
  position: absolute;
  top: 13.77px;
  left: 19.33px;
}
.rectangle-parent130 {
  position: absolute;
  top: 1083px;
  left: 24px;
  width: 137px;
  height: 42px;
}
.group-child324,
.group-child325 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  width: 178px;
  height: 42px;
}
.group-child325 {
  top: 5px;
  left: 132px;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-darkgray-600);
  width: 42px;
  height: 32px;
}
.background-color1 {
  position: absolute;
  top: 13.77px;
  left: 19.33px;
}
.group-child326,
.rectangle-parent131 {
  position: absolute;
  top: 1144px;
  left: 24px;
  width: 178px;
  height: 42px;
}
.group-child326 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  width: 199px;
}
.div45,
.margin2 {
  position: absolute;
  top: 13.77px;
}
.margin2 {
  left: 19.33px;
  text-align: left;
}
.div45 {
  left: 91px;
  display: inline-block;
  width: 13.7px;
  height: 14.6px;
}
.bottom1,
.left1,
.right1,
.top1 {
  position: absolute;
  top: 48px;
  left: 91px;
  font-size: var(--font-size-6xs);
  color: var(--color-darkgray-300);
}
.bottom1,
.left1,
.right1 {
  left: 117px;
}
.bottom1,
.left1 {
  left: 144px;
}
.left1 {
  left: 178px;
}
.div46,
.div47,
.div48 {
  position: absolute;
  top: 13.77px;
  left: 120px;
  display: inline-block;
  width: 13.7px;
  height: 14.6px;
}
.div47,
.div48 {
  left: 149px;
}
.div48 {
  left: 178px;
}
.group-child327,
.group-child328,
.group-child329,
.group-child330 {
  position: absolute;
  top: 0.77px;
  left: 82px;
  border-right: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  width: 1px;
  height: 42.3px;
}
.group-child328,
.group-child329,
.group-child330 {
  left: 111px;
}
.group-child329,
.group-child330 {
  left: 140px;
}
.group-child330 {
  left: 169px;
}
.rectangle-parent132 {
  position: absolute;
  top: 1207px;
  left: 24px;
  width: 199px;
  height: 56px;
  text-align: center;
}
.group-child331 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  width: 237px;
  height: 42px;
}
.select-templates3,
.template-013 {
  position: absolute;
  top: 13.69px;
  left: 19.33px;
}
.template-013 {
  left: 132.81px;
  display: inline-block;
  width: 70.4px;
  height: 14.5px;
}
.group-child332,
.group-child333 {
  position: absolute;
  top: 16.75px;
  left: 211px;
  width: 14.5px;
  height: 8.4px;
}
.group-child333 {
  top: 0.69px;
  left: 126px;
  border-right: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  width: 1px;
  height: 42.3px;
}
.group-child334,
.rectangle-parent133 {
  position: absolute;
  top: 157px;
  left: 24px;
  width: 237px;
  height: 42px;
}
.group-child334 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  height: 42.1px;
}
.double-sided3,
.puzzle-per-page1 {
  position: absolute;
  top: 13.43px;
  left: 19.33px;
}
.double-sided3 {
  left: 128.44px;
  display: inline-block;
  width: 76.5px;
  height: 14.5px;
}
.group-child335,
.group-child336 {
  position: absolute;
  top: 16.5px;
  left: 211px;
  width: 14.5px;
  height: 8.4px;
}
.group-child336 {
  top: 0.43px;
  left: 120.9px;
  border-right: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  width: 1px;
  height: 42.3px;
}
.group-child337,
.rectangle-parent134 {
  position: absolute;
  top: 340px;
  left: 24px;
  width: 237px;
  height: 42.1px;
}
.group-child337 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  width: 234px;
  height: 42px;
}
.after-puzzles1,
.solutions1 {
  position: absolute;
  top: 13.46px;
  left: 19.33px;
}
.after-puzzles1 {
  left: 110.03px;
}
.group-child338,
.group-child339 {
  position: absolute;
  top: 16.52px;
  left: 202px;
  width: 14.5px;
  height: 8.4px;
}
.group-child339 {
  top: 0.45px;
  left: 95.49px;
  border-right: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  width: 1px;
  height: 42.3px;
}
.group-child340,
.rectangle-parent135 {
  position: absolute;
  top: 463px;
  left: 24px;
  width: 234px;
  height: 42px;
}
.group-child340 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  width: 207px;
  height: 43px;
}
.insert-pagination1,
.yes12 {
  position: absolute;
  top: 14.19px;
  left: 19.33px;
}
.yes12 {
  left: 143.2px;
  display: inline-block;
  width: 21.4px;
  height: 14.5px;
}
.group-child341,
.group-child342 {
  position: absolute;
  top: 17.25px;
  left: 175.33px;
  width: 14.5px;
  height: 8.4px;
}
.group-child342 {
  top: 1.18px;
  left: 128.66px;
  border-right: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  width: 1px;
  height: 42.3px;
}
.group-child343,
.rectangle-parent136 {
  position: absolute;
  top: 655px;
  left: 24px;
  width: 207px;
  height: 43px;
}
.group-child343 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  width: 199px;
  height: 42.1px;
}
.select-tipics1,
.select3 {
  position: absolute;
  top: 13.77px;
  left: 19.33px;
}
.select3 {
  left: 123.2px;
  display: inline-block;
  width: 36.7px;
  height: 14.5px;
}
.group-child344,
.group-child345 {
  position: absolute;
  top: 16.83px;
  left: 170.64px;
  width: 14.5px;
  height: 8.4px;
}
.group-child345 {
  top: 0.77px;
  left: 108.66px;
  border-right: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  width: 1px;
  height: 42.3px;
}
.group-child346,
.rectangle-parent137 {
  position: absolute;
  top: 717px;
  left: 24px;
  width: 199px;
  height: 42.1px;
}
.group-child346 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  width: 234px;
  height: 57px;
}
.solutions-per-page4 {
  position: absolute;
  top: 30.69px;
  left: 19.33px;
}
.group-child347,
.rectangle-parent138 {
  position: absolute;
  top: 55.24px;
  left: 0;
  width: 234px;
  height: 57px;
}
.group-child347 {
  top: 0;
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
}
.solutions-per-page5 {
  position: absolute;
  top: 30.69px;
  left: 19.33px;
}
.group-child348,
.rectangle-parent139 {
  position: absolute;
  top: 20.24px;
  left: 0;
  width: 234px;
  height: 57px;
}
.group-child348 {
  top: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  height: 42px;
}
.select-solution-template3 {
  position: absolute;
  top: 13.69px;
  left: 19.33px;
}
.group-child349,
.group-child350 {
  position: absolute;
  top: 16.75px;
  left: 201.27px;
  width: 14.5px;
  height: 8.4px;
}
.group-child350 {
  top: 0.69px;
  left: 185.35px;
  background-color: var(--color-white);
  border-right: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  width: 1px;
  height: 42.3px;
}
.rectangle-parent140 {
  position: absolute;
  top: 0;
  left: 0;
  width: 234px;
  height: 42px;
}
.group-child351,
.group-parent11 {
  position: absolute;
  top: 524px;
  left: 24px;
  width: 234px;
  height: 112.2px;
}
.group-child351 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-100);
  width: 233.5px;
  height: 42.1px;
}
.generate3 {
  position: absolute;
  top: 13.78px;
  left: 89px;
}
.rectangle-parent141 {
  position: absolute;
  top: 1290px;
  left: 24px;
  width: 233.5px;
  height: 42.1px;
  text-align: center;
  color: var(--color-white);
}
.group-child352,
.group-child353 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  width: 234px;
  height: 147px;
}
.group-child353 {
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  height: 39px;
}
.pdf-print2 {
  position: absolute;
  top: 3px;
  left: 22px;
}
.group-child354,
.group-child355,
.group-child356 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 2px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  width: 18px;
  height: 18px;
}
.group-child355,
.group-child356 {
  left: 83px;
}
.group-child356 {
  left: 142px;
}
.png2,
.svg2 {
  position: absolute;
  top: 3px;
  left: 104px;
}
.png2 {
  left: 162px;
}
.pdf-print-container {
  position: absolute;
  top: 54px;
  left: 18px;
  width: 184px;
  height: 18px;
}
.select-what-you2 {
  position: absolute;
  top: 13px;
  left: 23px;
  font-size: var(--font-size-xs);
}
.group-child357,
.rectangle-parent142 {
  position: absolute;
  top: 0;
  left: 0;
  width: 234px;
  height: 147px;
}
.group-child357 {
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  width: 198px;
  height: 42px;
}
.export5 {
  position: absolute;
  top: 13.78px;
  left: 79.87px;
}
.group-parent12,
.rectangle-parent143 {
  position: absolute;
  top: 91px;
  left: 18px;
  width: 198px;
  height: 42px;
  font-size: var(--font-size-xs);
}
.group-parent12 {
  top: 1359px;
  left: 24px;
  width: 234px;
  height: 147px;
  font-size: var(--font-size-3xs);
}
.group-child358 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-silver-300);
  width: 219.4px;
  height: 36.6px;
}
.insert-list-words3 {
  position: absolute;
  top: 9.93px;
  left: 15.3px;
  display: inline-block;
  width: 104.8px;
  height: 17.3px;
}
.group-child359,
.rectangle-parent144 {
  position: absolute;
  top: 0;
  left: 0;
  width: 219.4px;
  height: 36.6px;
}
.group-child359 {
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  height: 38.6px;
}
.use-random-words3,
.yes13 {
  position: absolute;
  top: 10.92px;
  left: 13.84px;
  display: inline-block;
  width: 129px;
  height: 17.3px;
}
.yes13 {
  left: 159.15px;
  width: 24.7px;
  height: 16.7px;
}
.group-child360,
.group-child361 {
  position: absolute;
  top: 14.83px;
  left: 191.77px;
  width: 14.8px;
  height: 8.9px;
}
.group-child361 {
  top: 0.99px;
  left: 151.07px;
  border-right: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  width: 1px;
  height: 38.6px;
}
.group-parent13,
.rectangle-parent145 {
  position: absolute;
  top: 47.45px;
  left: 0;
  width: 219.4px;
  height: 38.6px;
  color: var(--color-black);
}
.group-parent13 {
  top: 29px;
  left: 24px;
  height: 86px;
  color: var(--color-white);
}
.sidebar1 {
  position: relative;
  width: 100%;
  height: 2513px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
